@import "tailwindcss";

html,
body {
  @apply w-full max-w-full overflow-x-hidden m-0 p-0;
}

.container {
  @apply max-w-full overflow-hidden grid grid-cols-[200px_10fr] gap-[2px] bg-gray-200;
  grid-template-areas:
    "menu content"
}

.container>div.menu {
  @apply bg-blue-300 w-[200px] h-screen;
  grid-area: menu;
}

.container>div.content {
  @apply flex flex-col w-full bg-amber-500 overflow-y-auto h-screen flex flex-col items-center justify-center;
  grid-area: content;
}


@media screen and (max-width: 1023px) and (min-width: 769px) {
  .container {
    @apply w-full max-w-full overflow-hidden grid bg-gray-200 gap-[2px];
    grid-template-columns: 100px 1fr;
    /* Menu 100px + content tự co giãn */
    grid-template-areas: "menu content";
  }

  .container>div.menu {
    @apply w-[100px] bg-blue-300;
    grid-area: menu;
  }

  .container>div.content {
    @apply w-full max-w-full bg-amber-500;
    grid-area: content;
  }
}


@media screen and (max-width: 768px) {
  .container {
    @apply max-w-full overflow-y-auto grid bg-gray-200 gap-[2px];
    grid-template-rows: 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "menu";
  }

  .container div.menu {
    @apply w-full h-[100px] bg-blue-300 fixed bottom-0 left-0 z-50;
    grid-area: menu;
  }

  .container div.content {
    @apply w-full max-w-full h-full overflow-y-hidden bg-amber-500;
    grid-area: content;
  }
}